#contactinfo {
	width: 33%;
	display: inline-block;
	text-align: center;
}

#newsletter {
	width: 33%;
	display: inline-block;
	text-align: center;
}

#socialmedia {
	width: 33%;
	display: inline-block;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	#contactinfo, #newsletter, #socialmedia {
		width: 100%;
	}
}